<div class="iapp-panel iapp-name-input-panel active">
    <div class="iapp-button-small iapp-name-back-button button">
        <div class="iapp-button-text">
            Back
        </div>
    </div>
    <div class="iapp-content-wrap">
        <h2 class="iapp-name-greeting iapp-panel-text-main"><%=greeting%></h3>
        <h2 class="iapp-name-info iapp-panel-text-main"><%=name_text%></h2>
        <input type="text" class="iapp-name-input" placeholder="TYPE YOUR NAME HERE">
        <div class="iapp-name-skip-button iapp-clickable">Skip</div>
        <div class="name-next-button button iapp-clickable"><div class="iapp-button-text">Next</div></div>
    </div>
</div>
