<div class="iapp-panel iapp-tag-sub1 active">
    <div class="iapp-button-small iapp-topics-back-button button">
        <div class="iapp-button-text">
            Back
        </div>
    </div>
    <div class="iapp-content-wrap">
        <h2 class="iapp-section-header iapp-panel-text-main"><%=tag_text%> <%=greeting%></h2>
        <div class="iapp-tag-container">
            
        </div>
    
        <div class="tags-next-button button hide iapp-clickable">
            <div class="iapp-button-text">Next</div>
        </div>
    
    </div>
</div>

<div class="iapp-panel iapp-tag-intro upcoming">

    
</div>
