<div class="iapp-video-back-button button iapp-button-small"><div class="iapp-button-text">Back to topics</div></div>

<div class="iapp-video-info">
     <% if (userName != "") { %>
    <h4 class='iapp-video-greeting'><%=userName%>, <%=intro%></h4>
    <%} else { %>
    <h4 class='iapp-video-greeting'><%=intro%></h4>
    <%}%>
    
    <div class="iapp-video-info-buttons">
        <div class="iapp-video-more-button button iapp-button-large"><div class="iapp-button-text">More Videos</div></div>
        <div class="iapp-video-discuss-button button iapp-button-small"><div class="iapp-button-text">Share</div></div>
        <div class="iapp-video-credits-button button iapp-button-small"><div class="iapp-button-text">Credits</div></div>
        <div class="iapp-video-play-button button iapp-button-small"><div class="iapp-button-text">Pause</div></div>
        <div class="iapp-video-replay-button button iapp-button-small"><div class="iapp-button-text">Replay</div></div>
        
        
    </div>
</div>
