<div class="iapp-video-back-button button iapp-button-small"><div class="iapp-button-text">Back to topics</div></div>

<div class="iapp-video-info">
     <% if (userName != "") { %>
    <h4 class='iapp-video-greeting'><%=userName%>, <%=intro%></h4>
    <%} else { %>
    <h4 class='iapp-video-greeting'><%=intro%></h4>
    <%}%>
    
    <div class="iapp-video-info-buttons">
        <div class="iapp-video-more-button button iapp-button-large"><div class="iapp-button-text">More Videos</div></div>
        <div class="iapp-video-discuss-button button iapp-button-small"><div class="iapp-button-text">Share</div></div>
        <div class="iapp-video-credits-button button iapp-button-small"><div class="iapp-button-text">Credits</div></div>
        <div class="iapp-video-play-button button iapp-button-small"><div class="iapp-button-text">Pause</div></div>
        <div class="iapp-video-replay-button button iapp-button-small"><div class="iapp-button-text">Replay</div></div>
        
        
    </div>
</div>

<div class="iapp-video-loader">
    <div class="iapp-content-wrap">
        <h2 class="iapp-video-question-loader"><%= questionasked %></h2>
        <div class="loader-img-wrap">
            <img class="loader-img" src="http://www.gannett-cdn.com/experiments/usatoday/2015/04/gay-marriage/img/loader-white.svg" alt="Loading">
        </div>
    </div>
</div>

<div class="iapp-video-desktop-controls">
    <ul class="iapp-left-video-nav">
        <li class="iapp-clickable">Back to Topics</li>
        <li class="iapp-clickable">All Videos</li>
        <li class="iapp-clickable">Comment</li>
        <li class="iapp-clickable">About This Project</li>
        <li class="iapp-clickable">Share This Project</li>
    </ul>

    <div class="iapp-center-video-controls">
        <div class="iapp-center-video-controls-button-wrap">
            <div class="iapp-center-video-replay-button iapp-button-small"></div>
            <div class="iapp-center-video-play-button iapp-button-large"></div>
            <div class="iapp-center-video-next-button iapp-button-small"></div>
        </div>
        <div class="iapp-center-video-controls-label-wrap">
            <div class="iapp-center-video-control-label iapp-center-replay-label">Replay</div>
            <div class="iapp-center-video-control-label iapp-center-play-label">Pause</div>
            <div class="iapp-center-video-control-label iapp-center-next-label">Next</div>
        </div>
    </div>

</div>
