.iapp-credits-panel {
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    filter: none;
    padding: 2em;
    z-index: 18;
}

.iapp-credits-close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 60px;
}

.iapp-project-credit-link {
    color: white;
    text-decoration: none;
    transition: color 250ms ease;
    &:hover {
        color: $medium-grey;
    }
    &:visited {
        color: white;
    }
}

.iapp-project-credits {
    text-align: center;
}

.iapp-project-credits {
    font-family: "Futura Today Light", Arial, sans-serif;
}
